.genre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre section {
    padding: 20px;
    background-color: peachpuff;
    margin: 20px;
    border:3px solid goldenrod ;

}

.genre a{
    text-decoration: none;
    text-align: center;
    color: black;
}

.genre img{
    height:540px;
    width: 360px;
    padding: 40px;
}

.listeVetement ul{
    display: flex;
    padding:0;

}

.listeVetement li{
    list-style: none;
    border : 1px solid black;
    margin: 9px;
    padding: 2px;
    transition: transform 0.3s, box-shadow 0.3s;

}



.listeVetement a {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.listeVetement a:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
    transform: scale(1.05);
}


.vueArticle {
    width: 22%;
    height: 500px;
    min-width: 300px;
    box-sizing: border-box;
    margin: 30px 20px;
    text-align: center;
    background-color: #f4f0eb;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.vueArticle:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px grey;
}




.article{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}


.article a{
    text-decoration: none;
    color:black;
}

.article img {
    width: 92%;
    height: 420px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}

.article h4 {
    margin: 10px 0 5px 0;
    font-size: 18px;
    padding: 0;
}


.like {
    width: 15px;
    height: 15px;
    background-color: #aaa;
    position: absolute;
    transform: rotate(-45deg) translate(173px,199px);

}

.like::before,
.like::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #aaa;
    border-radius: 50%;
    position: absolute;
}

.like::before {
    top: -7.5px;
    left: 0;
}

.like::after {
    top: 0;
    left: 7.5px;
}

.like:hover,
.like:hover::before,
.like:hover::after {
    background-color: crimson;
}


.likeAppuyer {
    width: 15px;
    height: 15px;
    background-color: crimson;
    position: absolute;
    transform: rotate(-45deg) translate(173px,199px);
}

.likeAppuyer::before,
.likeAppuyer::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: crimson;
    border-radius: 50%;
    position: absolute;
}

.likeAppuyer::before {
    top: -7.5px;
    left: 0;
}

.likeAppuyer::after {
    top: 0;
    left: 7.5px;
}

.articles{
    display:flex;
    margin-bottom: 15px;
}
.articles section{
    justify-content: space-between;
    border:0.1px solid black;
    position: relative;
}

.articles a{
    text-decoration: none;
    color:black;
}

.articles h4{
    margin-left:9px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.articles img{
    width:350px;
    height:400px;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btnaccueil {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.split.left .btn:hover {
    background-color: beige;
    border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}


.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('../Images/homme.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.2;
}

.split.right {
    right: 0;
    background: url('../Images/femme.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
    opacity: 0.2;
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
    transition: all var(--speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
        top: 30%;
    }

    .btn {
        padding: 1.2rem;
        width: 12rem;
    }
}

